@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Grey+Qo&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Grey+Qo&family=Jersey+10&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee+Tint&family=Grey+Qo&family=Jersey+10&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Jersey+10&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Jersey+10&family=Matemasie&family=Permanent+Marker&display=swap');


.container19 {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.profile-pictures {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.preview {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container {
  width: 400px;
  height: 530px;
  /* border: 1px solid #ccc; */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-text {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upload-button input[type="file"] {
  display: none;
}

.upload-button button {
  background-color: #23387A
  ; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.shapes {
  margin-bottom: 20px;
}

.shape-options {
  display: flex;
  justify-content: center;
}

.shape {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  margin: 0 10px;
  cursor: pointer;
}

.shape.selected {
  background-color: #23387A
  ; /* Green */
  color: white;
}

.size-options {
  margin-bottom: 20px;
}

.size-buttons {
  display: flex;
  justify-content: center;
  
}

.size-button {
  background-color: #ccc;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.size-button.active {
  background-color: #23387A
  ; /* Green */
  color: white;
}

.thickness-options {
  margin-bottom: 20px;
}

.thickness-buttons {
  display: flex;
  justify-content: center;
}

.thickness-button {
  background-color: #ccc;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.thickness-button.active {
  background-color: #23387A
  ; /* Green */
  color: white;
}

.price1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.details {
  margin-bottom: 20px;
  font-size: 14px;
}

.buy-now {
  background-color: #23387A
  ; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.size-guide {
  margin-top: 20px;
}

.shape-svg {
  width: 50px; 
  height: 50px; 
  flex-shrink: 0; 

}
.shape-svg1 {
  width: 50px; 
  height: 50px; 
  flex-shrink: 0; 
margin-right: 42rem;
margin-bottom: 17px;
} 
.shape-svg2 {
  width: 50px; 
  height: 50px;
  flex-shrink: 0; 
margin-right: 38.4rem;
} 
.shape-svg3 {
  width: 50px; 
  height: 50px; 
  flex-shrink: 0; 
margin-right: 35.5rem;
margin-top: -5px;
}
.shape-svg4 {
  width: 50px; 
  height: 50px; 
  flex-shrink: 0; 
margin-right: 32rem;
margin-top: -5px;
} 
.shape-svg5 {
  width: 50px; 
  height: 50px; 
  flex-shrink: 0; 
margin-right: 28.3rem;
margin-top: -5px;
} 
.shape-svg6 {
  width: 50px; 
  height: 50px; 
  flex-shrink: 0; 
margin-right: 24.6rem;
margin-top: -5px;
} 
.acrylic{
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
.acrylic1{
  text-align: left;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}


.border-blue {
  transform: scale(1.2);
  transition: transform 0.3s ease;

 
}

@media only screen and (max-width: 600px) {
  .size-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    
  }

  .shape-svg1 {
    width: 30px; 
    height: 50px; 
    flex-shrink: 0; 
  margin-right:10rem;
  margin-bottom: 17px;
  } 
  .shape-svg2 {
    width: 30px; 
    height: 50px;
    flex-shrink: 0; 
  margin-right: 7.9rem;
  } 
  .shape-svg3 {
    width: 30px; 
    height: 50px; 
    flex-shrink: 0; 
  margin-right: 6rem;
  margin-top: -5px;
  }
  .shape-svg4 {
    width: 30px; 
    height: 50px; 
    flex-shrink: 0; 
  margin-right: 4rem;
  margin-top: -5px;
  } 
  .shape-svg5 {
    width: 30px; 
    height: 50px; 
    flex-shrink: 0; 
  margin-right: 2rem;
  margin-top: -5px;
  } 
  .shape-svg6 {
    width: 30px; 
    height: 50px; 
    flex-shrink: 0; 
  margin-right:0rem;
  margin-top: -5px;
  } 
}