/* .dropdown1 {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item1 {
    padding: 4px;
    
  }
  
  .dropdown-item1:last-child {
    border-bottom: none;
  }
  .dropdown-item1:first-child{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto';
    
  }

  
  .dropdown-item1 button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .dropdown-item1 button:hover {
    background-color: #3e8e41;
  }
  
  /* Icon styles */
  /* .feather-user {
    width: 24px;
    height: 24px;
    fill: #666;
    cursor: pointer;
  }
  
  .feather-user:hover {
    fill: #333;
  }
  .dropdown-item1{
    padding-bottom: 20px;
    padding-left: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color:  #151515
    ;
    font-weight: 600;
  }
  .dropdown-item6{
    padding-bottom: 20px;
    padding-left: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #858585;

    ;
    font-weight: 600;
  }
  .dropdown-item2{
    border: 1px solid #23387A;
    padding: 6px;
    margin-left: 5px;
    color: white;
    font-family: 'Poppins';
    background-color: #23387A;
  }
  .dropdown-item2:hover {
    background-color: #2C4FB0; 
    border-color: #2C4FB0; 
    color: white;
} */
  /* .dropdown-item3{
    padding: 10px;
    margin-top: 6px;
    margin-left: -5px;
  }
  .dropdown-item4{

    margin-top: 5px;
    margin-left: 4px;
  }

  .dropdown-item5{

    margin-left: 4px;
  } */ 

  /* Dropdown.css */

  .dropdownline{
    width: 0;
    transition:all 0.5s;

  }


.dropdown1 {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  z-index: 2000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item1 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
}

.close-icon {
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
}

.close-icon:hover {
  color: #666;
}

.dropdown-item6 {
  padding-bottom: 20px;
  padding-left: 2px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #858585;
  font-weight: 600;
}

.dropdown-item2 {
  border: 1px solid #23387A;
  padding: 6px;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
  font-family: 'Poppins';
  background-color: #23387A;
}

.dropdown-item2:hover {
  background-color: #2C4FB0;
  border-color: #2C4FB0;
  color: white;
}

.dropdown-item3 {
  padding: 10px;
  margin-top: 6px;
  margin-left: -5px;
}

.dropdown-line-text:hover + .dropdownline{
  
    width: 70%;
  
}

.dropdown-item4 {
  margin-top: 5px;
  margin-left: 4px;
}

.dropdown-item7 {
  margin-left: 4px;
 
}
.dropdown-item8 {
  margin-left: 4px;
 
}


.wishlist-delete-icon3 {
  color: black;
  height: 20px;
  background-color: white;
  width: 20px;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: -91px;
  cursor: pointer;
}