 .thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    color:  #23387A;
    font-family: 'Times New Roman', serif;
    overflow: hidden;
  } 
   
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-shadow: 0 0 5px #ffd700;
  }
  
  .message {
    font-size: 2rem;
    margin-top: 12rem;
    text-align: center;
  }
  
  .buttons2 {
    display: flex;
    gap: 1rem;
  }
  
  .call-button,
  .download-button {
      width: 290px; /* Set a fixed width */
      padding: 9px;
      border: none;
     
      background-color: #23387A;
      color: #fff;
      font-size: 17px;
      
      margin-top: 1rem;
      font-family: sans-serif;
      cursor: pointer;
      box-shadow: 0 0 5px #23387A;
  }
  
  .pattern {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
 
  .mandala{
    height: 550px;
    width: 1300px;
    margin-top: -19rem;
    margin-left: -44rem;
    opacity: 0.3;
  }
  .thankyou{
   margin-top: -35rem;
    height: 550px;
    
    margin-left: 7rem;
    opacity: 0.3;
  }
  /* @media (min-width: 1200px) {
    .mandala {
        margin-top: -19rem;
        margin-left: -44rem;
    }

    .thankyou {
        margin-top: -25rem;
        margin-left: 69rem;
    }
}*/
 @media (min-width: 1200px) {
  .mandala {
    width: 1220px;
      margin-top: -22rem;
      margin-left: -44rem;
  }

  .thankyou {
    width: 250px;
      margin-top: -35rem;
      margin-left: 69rem;
  }
} 

/* Media Query for Very Large Screens (1728px and up) */
@media (min-width: 1728px) {
  .mandala {
    height: 650px;
    width: 1500px;
      margin-top: -18rem;
      margin-left: -54rem;
  }

  .thankyou {
      margin-top: -40rem;
      margin-left: 94rem;
      height: 650px;
    
  }
}

/* Media Query for Medium Screens (tablets and small desktops) */
@media (min-width: 768px) and (max-width: 1199px) {
  .mandala {
    height: 560px;
    width: 1200px;
    
      margin-top: -19rem;
      margin-left: -35rem;
  }

  .thankyou {
    height: 560px;
      margin-top: -35rem;
      margin-left: 48.2rem;
  }
  .enquiry1{
    font-size: 32px ;
  }
}

/* Media Query for Small Screens (mobile phones) */
@media (max-width: 767px) {
  .mandala {
      margin-top: -10rem;
      margin-left: -20rem;
  }

  .thankyou {
      margin-top: -20rem;
      margin-left: 30rem;
  }
  .enquiry1{
    font-size: 32px ;
  }
}

