.product-image3{
    height: 30rem;
    padding-left: 110px;
    margin-top: 67px;
}
.product-image4{
    height: 29rem;
    padding-left: 150px;
    padding-top: 40px;
}

.product-image5{
    height: 29rem;
    padding-left: 170px;
    padding-top: 80px;
}

.product-image6{
    height: 20rem;
    padding-left: 170px;
    padding-top: 30px;
    margin-top: 140px;
}

.price1{
    margin-top: -7px;
}
.quantity-box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFA500; /* Orange color */
    color: #fff;
    border-radius: 5px;
    margin-left: 18rem;
    margin-top: -3rem;
    width: 80px;
    text-align: center;
  }
  
  .wantmore{
    width: 130px;
    height: 40px;
    background-color: #23387A;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
  }
  .offer{
    font-family: 'Roboto';
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .product-image3{
        height: 20rem;
        padding-left: 0px;
        margin-top: 0px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-image4{
        height: 20rem;
        padding-left: 0px;
        margin-top: 0px;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .product-image5{
        height: 20rem;
        padding-left: 0px;
        margin-top: 0px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product-image6{
        height: 20rem;
        padding-left: 0px;
        margin-top: 0px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }