.product-image3{
    height: 36rem;
    padding-left: 110px;
}
.product-image4{
    height: 29rem;
    padding-left: 150px;
    padding-top: 40px;
}

.product-image5{
    height: 29rem;
    padding-left: 170px;
    padding-top: 80px;
}

.product-image6{
    height: 20rem;
    padding-left: 170px;
    padding-top: 30px;
    margin-top: 140px;
}